<div class="container-fluid collapse navbar-collapse" style="background: #4CAF50;" ng-controller="NavbarController"> 

        <div class="btn-group">
         <a ui-sref="requests"><img src="/logo.png" style="padding:0 5px 0 5px; ">
         </a>
         </div>

        <div class="btn-group" ng-click="setTab(1)" ng-model="deleted">
         <a ui-sref="requests" class="btn-success btn" ng-class="{active:isSet(1)}" >
         <strong>{{Requests}}</strong></a>
         </div>

         
         <div class="btn-group" dropdown keyboard-nav ng-click="setTab(2)">
        <button id="simple-btn-keyboard-nav" type="button" class="btn-success btn" dropdown-toggle ng-class="{active:isSet(2)}">
        <strong>Neighbourhoods</strong>
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu " role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li><a href="" ui-sref="neighbours" class="btn">New Neighbour</a></li>
            <li ><a href="" ui-sref="update" class="btn">Update</a></li>
            <li ><a href="" ui-sref="disable" class="btn">Disable</a></li>  
            <li ><a href="" ui-sref="enable" class="btn">Enable</a></li>             
        </ul>
         </div>

        <div class="btn-group" dropdown keyboard-nav ng-click="setTab(3)" ng-show="newUser" >
        <button id="simple-btn-keyboard-nav" type="button" class="btn-success btn" dropdown-toggle ng-class="{active:isSet(3)}">
        <strong>User</strong>
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu " role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li><a href="" ui-sref="createUser" class="btn">Add New User</a></li>
            <li><a href="" ui-sref="getUser" class="btn">Get User Details</a></li>
            <li ><a href="" class="btn " ng-disabled="true">Edit Existing User</a></li>               
        </ul>
         </div>







        
        <div class="btn-group navbar-right" dropdown keyboard-nav>
        
        <button id="simple-btn-keyboard-nav" type="button" class="btn-success btn" dropdown-toggle><span>
         <strong>{{loginMessage}}</strong></span>{{LoggedInUser}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li><a href="" ng-click="logout();">Logout</a></li>
            <li><a ui-sref="password">Change Password</a></li>               
        </ul>
      </div>
      
     

</div>
<div ng-show="!online" style="position: absolute;z-index: 99;width: 100%;height: 100%;background-color: black;opacity: 0.5;">
    <div class="alert alert-warning">
<a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> Internet connection failed.
</div>
</div>