    <div class="collapse navbar-collapse" style="background: #4CAF50; height:50px;" ng-controller="NavbarController"> 

        <div class="btn-group" ng-click="setTab(1)" ng-model="deleted">
         <a ui-sref="requests" class="btn-success btn" ng-class="{active:isSet(1)}" >
         <strong>{{Requests}}</strong></a>
         </div>

         <div class="btn-group" ng-click="setTab(2)">
         <a ui-sref="neighbours" class="btn-success btn" ng-class="{active:isSet(2)}" >
         <strong>New Neighbour</strong></a>
         </div>
        
         <div class="btn-group" ng-click="setTab(3)">
         <a ui-sref="update" class="btn-success btn" ng-class="{active:isSet(3)}" >
         <strong>Update</strong></a>
         </div>
         <div class="btn-group" ng-click="setTab(4)">
         <a ui-sref="disable" class="btn-success btn" ng-class="{active:isSet(4)}" >
         <strong>Disable</strong></a>
         </div>

         <div class="btn-group" ng-click="setTab(5)" ng-show="newUser">
         <a ui-sref="createUser" class="btn-success btn" ng-class="{active:isSet(5)}" >
         <strong>Create User</strong></a>
         </div>

        
        <div class="btn-group navbar-right" dropdown keyboard-nav>
        
        <button id="simple-btn-keyboard-nav" type="button" class="btn-success btn" dropdown-toggle><span>
         <strong>{{loginMessage}}</strong></span>{{LoggedInUser}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li><a href="" ng-click="logout();">Logout</a></li>
            <li><a ui-sref="password">Change Password</a></li>               
        </ul>
      </div>
      <!--
      <div class="btn-group navbar-right">
         <span>
         <strong>{{loginMessage}}</strong></span>
         </div>-->
     

</div>
         