<div class="container-fluid">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class="page-header" align="center">
    <h3 style="color: chocolate;">Creative New Users </h3>      
  </div>
  <div align="center" class="row" style="width:50%;" id="form-details" ng-init="getCities();">
  <form ng-submit="createAccount()" autocomplete="off">
  <div class="form-group">
  <p style="color:red; text-align:center;">{{accountstatus}}</p>
  </div>
        
         <div class="form-group row">
               <div class="col-md-6">
               <label>User Name:</label></div>
               <div class="col-md-6">
               <input type="email" ng-model="accForm.uname" class="form-control" placeholder="user email id"  name="username" value="" required></div>
         
         </div>
          <div class="form-group row">
               <div class="col-md-6">
               <label>Password:</label></div>
               <div class="col-md-6">
               <input type="password" ng-model="accForm.pwd" class="form-control" placeholder="password" value="" required></div>
         
         </div>

         <div class="form-group row" style="margin-top:10px;">
            <div class="col-md-6">
            <label>UserType:</label></div>
            <div class="col-md-6">
              <select name="singleSelect" ng-model="accForm.utype"  class="form-control" required ng-change="userTypeSelction();">
     		  <option value="hamlet_executive">Excutive</option>
              <option value="hamlet_manager">Manager</option>
               </select></div>
            </div>
        
         <div class="form-group row" style="margin-top:10px;"ng-show="myValue">
         	<div class="col-md-6">
              <label>City Name:</label></div>
              <div class="col-md-6">
            <select ng-model="accForm.city"  multiple="true" class="form-control" >
            <option ng-repeat="cities in citiesList" value="{{cities.code}}">{{cities.name}}</option>
               </select></div>
            </div> 
            <div class="form-group row">

             <div ng-show="createMessage" class="alert alert-success col-md-6" style="float:right;">{{ createMessage }}</div>

             <div ng-show="createErrorMessage" class="alert alert-danger col-md-6" style="float:right;">{{ createErrorMessage }}</div>

             </div>
            <div class="form-group row">
             <div class="col-md-6 " style="float:right;">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="submitbtn">Create User</button> </div>
            </div>
  </form>
  </div>


</div>
