<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
   <div ng-init="getCities();">
  <form class="form">
   	 <div class="row" style="margin-top:10px;">
  	         <div class="col-md-1">
         	 <label>Select City Name:</label>
         	 </div>

             <div class="col-md-2">
              <select ng-model="cityList.city" class="form-control" required ng-change="onCityChange()">
               <option ng-repeat="cities in citiesList" value="{{cities.code}}">{{cities.name}}</option>
               <option value="NONE">Select City</option>
               </select>
              </div>
            <div class="col-md-6">
             <div ng-show="createErrorMessage" class="alert alert-danger col-md-8" style="float:right;">{{ createErrorMessage }}</div>
             <div ng-show="createMessage" class="alert alert-success col-md-8" style="float:right;">{{ createMessage }}</div>
             </div>

        </div>
  </form>
  </div>

  <div style="width:100%;height:600px;border:1px solid;" ng-show="onCity">
	<div id="map"></div>
  </div>
       
<div>

   

</div>

<script type="text/ng-template" id="confirmDisable.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirmation Required ?</h3>
        </div>
        <div class="modal-body">
        <span>Are You Sure Want To Disable polygon of <b>{{polygonName}}?</b>
        </div>
        <div class="modal-footer">
        <button type="button" ng-click="userConfirmation('No')" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="userConfirmation('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
        </div>

        
    </script>
