<div class="container-fluid">
  <div ng-include="'app/components/navbar/navbar.html'"></div>
   <div class="row" style="margin:20px">      
      <a ui-sref="requests">Back</a>
    </div>
    
    <div class="row">
 <div ng-show="message" class="alert alert-danger">{{ message }}</div></div>

  <div align="center" class="row">
  	<table>
		 <tr>
		   <th>Request Id</th>
		   <th>Name</th>
		   <th>Status</th>
		   <th>Action By</th>
		   <th>Date&Time</th>
		   <th>Action</th>
		   
		 </tr>
		  <tr >
		  	<td><a href="">{{ idReport._id }}</a></td>
		    <td>{{ idReport.name }}</td>
		    <td>{{ idReport.status }}</td>
		    <td>{{idReport.action_by}}</td>
		    <td>{{idReport.action_at |date:'medium'}}</td>
		    <td>{{idReport.action}}</td>
		  </tr>
  </table>
  <div ng-show="Managers" style="margin-top:15px;" >
<div ng-show="errormessage" class="alert alert-danger">{{ errormessage }}</div>
<div ng-show="sucessmessage" class="alert alert-success">{{ sucessmessage }}</div>
<button class="btn btn-success" ng-click="onApprove();">Approve</button>
<button class="btn btn-danger" ng-click="onReject();">Reject</button>
	
  </div>      </div>
 
 <div style="width:100%;height:600px;border:1px solid;margin-top:15px;">
	<div id="map"></div>
  </div>

</div>
