<div class="container-fluid">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class="page-header" align="center">
    <h3 style="color: chocolate;">Create Neighbourhood </h3>      
  </div>
  <div ng-init="getCities();">
  
   	<div class="form-inline">

  	    <div class="form-group">
        <label>Select City Name:</label>
        <select id="cityList" ng-model="cityList.city" class="form-control" ng-change="createNewNeighbor();">
               <option ng-repeat="cities in citiesList" value="{{cities.code}}">{{cities.name}}</option>
               <option value="NONE">Select City</option>
               </select>
              </div>

        <div class="form-group" style="float:right;">
          <label class="color-box" style="background-color: #FF0000;"></label>
          <span style="margin-left:10px;">Disabled Neighbours</span>
           </div>

           <div class="form-group" style="float:right;">
          <label class="color-box" style="background-color: #4CAF50;"></label>
          <span style="margin-left:10px;">Active Neighbours</span>
           </div>
                  

        </div>
 
  </div>

  <div class="row" style="margin-top:15px;" ng-show="onCity"> 

  <div class="col-md-8" style="height:500px;">
	<div id="map"></div>
  </div>
  <div class="col-md-4"> 
  <form name="Form2" class="form" ng-submit="createNeighbour()">
  <div class="form-group">
  <p style="color:red; text-align:center;">{{accountstatus}}</p>
  </div>
  		<div class="form-group row">
  		<div align="center"><span style="font-size: 23px;
        color: #4CAF50;">Fill here Neighbourhood Details</span></div>
  		</div>
        
         <div class="form-group row">
               <div class="col-md-4">
               <label>Hamlet Name:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.area" class="form-control" placeholder="enter area name" required></div>
          </div>

          <div class="form-group row">
               <div class="col-md-4">
               <label>Locality:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.locality" class="form-control" placeholder="locality name" required></div>
          </div>

           <div class="form-group row">
               <div class="col-md-4">
               <label>Sub Locality:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.sublocality" class="form-control" placeholder="sub locality name" required></div>
          </div>

           <div class="form-group row">
               <div class="col-md-4">
               <label>District:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.district" class="form-control" placeholder="District name"></div>
          </div>

           <div class="form-group row">
               <div class="col-md-4">
               <label>City:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.city" class="form-control" placeholder="locality name" required ng-disabled="true"></div>
          </div>

          <div class="form-group row">
               <div class="col-md-4">
               <label>State:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.state" class="form-control" placeholder="locality name" required ng-disabled="true"></div>
          </div>

          <div class="form-group row">
               <div class="col-md-4">
               <label>Country:</label></div>
               <div class="col-md-8">
               <input type="text" ng-model="neiForm.country" class="form-control" placeholder="country name" required ng-disabled="true"/></div>
          </div>
       <div class="form-group row">
             <div class="col-md-8 " style="float:right;">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="neiForm.sub">Create Hamlet</button> </div>
            </div>

             <div class="form-group row">
             <div ng-show="createErrorMessage" class="alert alert-danger col-md-8" style="float:right;">{{ createErrorMessage }}</div>
             <div ng-show="createMessage" class="alert alert-success col-md-8" style="float:right;">{{ createMessage }}</div></div>
 		 </form>
  
  		</div>

  	</div>
    <div class="form-group row" style="float:right;padding:10px;" ng-show="createMessage">
    <div class="col-md-8">
    <button class="btn btn-lg btn-success " type="submit" ng-click="RefreshNeighbor();">Create New Hamlet</button> 
    </div>
    </div>

</div>
