.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
html,body
{
  height: 100%;
  width: 100%;
	position: relative;
}
.container{
  width: 100%;
}
.well.test{
	padding: 19px 0;
	height: 92%;
}
.grid1441876606842 .ui-grid-render-container-body .ui-grid-viewport {
  width: 1137.33337402344px;
  height: 500px;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 300px) {
  .navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-collapse {
  width: auto;
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-form {
  width: 30%; 
  margin: 75px auto;
}
#map {  position:relative; top:0; bottom:0; width:100%; height: 100%;}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
body{
  background-color:#F4F9F4;
}
a:target {
    font-size: 18px;
    border: 2px solid red;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
th {
    text-align: center;
}
table
{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.container-fluid {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    padding:0px;
    margin-right: auto;
    margin-left: auto;
}
.alert {
    padding: 10px;
    text-align: center;
    }

.form-inline{
    padding: 10px;
    }
.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
    left: 5px;
    top: 10px;

}